USE [RentaCR]
GO
/****** Object:  User [UsuarioPrueba]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE USER [UsuarioPrueba] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_Administrativo]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE ROLE [db_Administrativo]
GO
/****** Object:  DatabaseRole [db_LecturaGeneral]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE ROLE [db_LecturaGeneral]
GO
/****** Object:  DatabaseRole [db_Mantenimiento]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE ROLE [db_Mantenimiento]
GO
/****** Object:  Schema [alquiler]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE SCHEMA [alquiler]
GO
/****** Object:  Schema [persona]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE SCHEMA [persona]
GO
/****** Object:  Schema [ref]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE SCHEMA [ref]
GO
/****** Object:  Schema [vehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE SCHEMA [vehiculo]
GO
/****** Object:  Table [persona].[HistoricoEstadoCliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[HistoricoEstadoCliente](
	[HistoricoEstadoCliente_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cliente_ID] [int] NOT NULL,
	[MetaEstado_ID] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[RazonCambio] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_HistoricoEstadoCliente] PRIMARY KEY CLUSTERED 
(
	[HistoricoEstadoCliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_HistoricoEstadoCliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_HistoricoEstadoCliente]
    AS SELECT * FROM [persona].[HistoricoEstadoCliente];

GO
/****** Object:  Table [persona].[ClasificacionCliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[ClasificacionCliente](
	[ClasificacionCliente_ID] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_ClasificacionCliente] PRIMARY KEY CLUSTERED 
(
	[ClasificacionCliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ClasificacionCliente_Codigo] UNIQUE NONCLUSTERED 
(
	[Categoria] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_ClasificacionCliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_ClasificacionCliente]
    AS SELECT * FROM [persona].[ClasificacionCliente];

GO
/****** Object:  Table [persona].[ClienteClasificacion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[ClienteClasificacion](
	[ClienteClasificacion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cliente_ID] [int] NOT NULL,
	[ClasificacionCliente_ID] [int] NOT NULL,
	[FechaAsignacion] [date] NOT NULL,
 CONSTRAINT [PK_ClienteClasificacion] PRIMARY KEY CLUSTERED 
(
	[ClienteClasificacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ClienteClasificacion] UNIQUE NONCLUSTERED 
(
	[Cliente_ID] ASC,
	[ClasificacionCliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_ClienteClasificacion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_ClienteClasificacion]
    AS SELECT * FROM [persona].[ClienteClasificacion];

GO
/****** Object:  Table [persona].[AtributoCliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[AtributoCliente](
	[AtributoCliente_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cliente_ID] [int] NOT NULL,
	[TipoDato] [nvarchar](50) NOT NULL,
	[Valor] [nvarchar](500) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AtributoCliente] PRIMARY KEY CLUSTERED 
(
	[AtributoCliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_AtributoCliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_AtributoCliente]
    AS SELECT * FROM [persona].[AtributoCliente];

GO
/****** Object:  Table [persona].[Identificador]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[Identificador](
	[Identificador_ID] [int] IDENTITY(1,1) NOT NULL,
	[Persona_ID] [int] NOT NULL,
	[TipoIdentificacion_ID] [smallint] NOT NULL,
	[Numero] [nvarchar](30) MASKED WITH (FUNCTION = 'partial(2, "XXXXXX", 2)') NOT NULL,
	[Pais_ID] [smallint] NULL,
	[FechaVencimiento] [date] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Identificador] PRIMARY KEY CLUSTERED 
(
	[Identificador_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_Identificador]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_Identificador]
    AS SELECT * FROM [persona].[Identificador];

GO
/****** Object:  Table [persona].[MecanismoContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[MecanismoContacto](
	[MecanismoContacto_ID] [int] IDENTITY(1,1) NOT NULL,
	[Persona_ID] [int] NOT NULL,
	[TipoMecanismoContacto_ID] [smallint] NOT NULL,
	[Valor] [nvarchar](150) MASKED WITH (FUNCTION = 'email()') NOT NULL,
	[CodigoArea] [nvarchar](10) NULL,
	[Prioridad] [tinyint] NOT NULL,
	[SolicitadoPorCliente] [bit] NOT NULL,
	[InstruccionesUso] [nvarchar](300) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[MetaEstado_ID] [int] NOT NULL,
 CONSTRAINT [PK_MecanismoContacto] PRIMARY KEY CLUSTERED 
(
	[MecanismoContacto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_MecanismoContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_MecanismoContacto]
    AS SELECT * FROM [persona].[MecanismoContacto];

GO
/****** Object:  Table [persona].[HistoricoEstadoContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[HistoricoEstadoContacto](
	[HistoricoEstadoContacto_ID] [int] IDENTITY(1,1) NOT NULL,
	[MecanismoContacto_ID] [int] NOT NULL,
	[MetaEstado_ID] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[RazonCambio] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_HistoricoEstadoContacto] PRIMARY KEY CLUSTERED 
(
	[HistoricoEstadoContacto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_HistoricoEstadoContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_HistoricoEstadoContacto]
    AS SELECT * FROM [persona].[HistoricoEstadoContacto];

GO
/****** Object:  Table [persona].[Direccion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[Direccion](
	[Direccion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Persona_ID] [int] NOT NULL,
	[TipoDireccion_ID] [smallint] NOT NULL,
	[LineaDireccion1] [nvarchar](300) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[LineaDireccion2] [nvarchar](300) NULL,
	[DireccionPostal] [nvarchar](50) NULL,
	[Prioridad] [tinyint] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[UbicacionGeo_ID] [int] NULL,
	[MetaEstado_ID] [int] NOT NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[Direccion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_Direccion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_Direccion]
    AS SELECT * FROM [persona].[Direccion];

GO
/****** Object:  Table [persona].[HistoricoEstadoDireccion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[HistoricoEstadoDireccion](
	[HistoricoEstadoDireccion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Direccion_ID] [int] NOT NULL,
	[MetaEstado_ID] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[RazonCambio] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_HistoricoEstadoDireccion] PRIMARY KEY CLUSTERED 
(
	[HistoricoEstadoDireccion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_HistoricoEstadoDireccion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_HistoricoEstadoDireccion]
    AS SELECT * FROM [persona].[HistoricoEstadoDireccion];

GO
/****** Object:  Table [persona].[Empleado]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[Empleado](
	[Empleado_ID] [int] IDENTITY(1,1) NOT NULL,
	[Persona_ID] [int] NOT NULL,
	[CodigoEmpleado] [nvarchar](20) NOT NULL,
	[Puesto_ID] [smallint] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[FechaSalida] [date] NULL,
	[Sucursal_ID] [int] NOT NULL,
	[MetaEstado_ID] [int] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Empleado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Empleado_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Empleado_Persona] UNIQUE NONCLUSTERED 
(
	[Persona_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[MetaEstado]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[MetaEstado](
	[MetaEstado_ID] [int] IDENTITY(1,1) NOT NULL,
	[Entidad] [nvarchar](50) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MetaEstado] PRIMARY KEY CLUSTERED 
(
	[MetaEstado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MetaEstado_Entidad_Codigo] UNIQUE NONCLUSTERED 
(
	[Entidad] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[Puesto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[Puesto](
	[Puesto_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Puesto] PRIMARY KEY CLUSTERED 
(
	[Puesto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Puesto_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[Sucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[Sucursal](
	[Sucursal_ID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSucursal] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[DireccionFisica] [nvarchar](300) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[CorreoElectronico] [nvarchar](150) NULL,
	[Horario] [nvarchar](200) NULL,
	[FechaApertura] [date] NOT NULL,
	[UbicacionGeo_ID] [int] NULL,
	[MetaEstado_ID] [int] NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[Sucursal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sucursal_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [persona].[Persona]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[Persona](
	[Persona_ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoPersona] [char](1) NOT NULL,
	[PrimerNombre] [nvarchar](100) NULL,
	[SegundoNombre] [nvarchar](100) NULL,
	[PrimerApellido] [nvarchar](100) NULL,
	[SegundoApellido] [nvarchar](100) NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[Persona_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_Empleado]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_Empleado]
AS
    SELECT
        e.Empleado_ID,
        e.CodigoEmpleado,
        p.PrimerNombre,
        p.SegundoNombre,
        p.PrimerApellido,
        p.SegundoApellido,
        pu.Descripcion   AS Puesto,
        s.Nombre         AS Sucursal,
        e.FechaIngreso,
        e.FechaSalida,
        me.Descripcion   AS EstadoEmpleado
    FROM [persona].[Empleado] e
    JOIN [persona].[Persona] p ON e.Persona_ID = p.Persona_ID
    JOIN [ref].[Puesto] pu ON e.Puesto_ID = pu.Puesto_ID
    JOIN [ref].[Sucursal] s ON e.Sucursal_ID = s.Sucursal_ID
    JOIN [ref].[MetaEstado] me ON e.MetaEstado_ID = me.MetaEstado_ID;

GO
/****** Object:  Table [persona].[HistoricoAsignacionSucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[HistoricoAsignacionSucursal](
	[HistoricoAsignacion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Empleado_ID] [int] NOT NULL,
	[Sucursal_ID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[Motivo] [nvarchar](300) NULL,
 CONSTRAINT [PK_HistoricoAsignacionSucursal] PRIMARY KEY CLUSTERED 
(
	[HistoricoAsignacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_HistoricoAsignacionSucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_HistoricoAsignacionSucursal]
    AS SELECT * FROM [persona].[HistoricoAsignacionSucursal];

GO
/****** Object:  Table [persona].[HistoricoEstadoEmpleado]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[HistoricoEstadoEmpleado](
	[HistoricoEstadoEmpleado_ID] [int] IDENTITY(1,1) NOT NULL,
	[Empleado_ID] [int] NOT NULL,
	[MetaEstado_ID] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[RazonCambio] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_HistoricoEstadoEmpleado] PRIMARY KEY CLUSTERED 
(
	[HistoricoEstadoEmpleado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_HistoricoEstadoEmpleado]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [persona].[vw_HistoricoEstadoEmpleado]
    AS SELECT * FROM [persona].[HistoricoEstadoEmpleado];

GO
/****** Object:  View [persona].[vw_Persona]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [persona].[vw_Persona] AS SELECT * FROM [persona].[Persona];
GO
/****** Object:  Table [persona].[PersonaFisica]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[PersonaFisica](
	[Persona_ID] [int] NOT NULL,
	[FechaNacimiento] [date] NULL,
	[EstadoCivil] [nvarchar](30) NULL,
 CONSTRAINT [PK_PersonaFisica] PRIMARY KEY CLUSTERED 
(
	[Persona_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_PersonaFisica]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [persona].[vw_PersonaFisica] AS SELECT * FROM [persona].[PersonaFisica];
GO
/****** Object:  Table [persona].[PersonaJuridica]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[PersonaJuridica](
	[Persona_ID] [int] NOT NULL,
	[RazonSocial] [nvarchar](200) NOT NULL,
	[NombreComercial] [nvarchar](200) NULL,
	[FechaConstitucion] [date] NULL,
 CONSTRAINT [PK_PersonaJuridica] PRIMARY KEY CLUSTERED 
(
	[Persona_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_PersonaJuridica]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [persona].[vw_PersonaJuridica] AS SELECT * FROM [persona].[PersonaJuridica];
GO
/****** Object:  Table [persona].[Cliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[Cliente](
	[Cliente_ID] [int] IDENTITY(1,1) NOT NULL,
	[Persona_ID] [int] NOT NULL,
	[FechaIngresoSistema] [date] NOT NULL,
	[MetaEstado_ID] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Cliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cliente_Persona] UNIQUE NONCLUSTERED 
(
	[Persona_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [persona].[vw_Cliente]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [persona].[vw_Cliente]
AS
    SELECT
        c.Cliente_ID, c.Persona_ID, p.TipoPersona,
        p.PrimerNombre, p.SegundoNombre, p.PrimerApellido, p.SegundoApellido,
        pf.FechaNacimiento, pf.EstadoCivil,
        pj.RazonSocial, pj.NombreComercial, pj.FechaConstitucion,
        c.FechaIngresoSistema,
        me.Descripcion AS EstadoCliente,
        me.Codigo      AS CodigoEstado
    FROM [persona].[Cliente] c
    JOIN [persona].[Persona] p ON c.Persona_ID = p.Persona_ID
    LEFT JOIN [persona].[PersonaFisica] pf ON p.Persona_ID = pf.Persona_ID
    LEFT JOIN [persona].[PersonaJuridica] pj ON p.Persona_ID = pj.Persona_ID
    JOIN [ref].[MetaEstado] me ON c.MetaEstado_ID = me.MetaEstado_ID;
GO
/****** Object:  Table [ref].[Pais]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[Pais](
	[Pais_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ISOAlpha2] [char](2) NOT NULL,
	[ISOAlpha3] [char](3) NOT NULL,
	[NombreOficial] [nvarchar](100) NOT NULL,
	[NombreLocal] [nvarchar](100) NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[Pais_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pais_ISOAlpha2] UNIQUE NONCLUSTERED 
(
	[ISOAlpha2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pais_ISOAlpha3] UNIQUE NONCLUSTERED 
(
	[ISOAlpha3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_Pais]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_Pais] AS SELECT * FROM [ref].[Pais];
GO
/****** Object:  Table [ref].[Moneda]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[Moneda](
	[Moneda_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [char](3) NOT NULL,
	[NombreOficial] [nvarchar](100) NOT NULL,
	[NombreMonedaLocal] [nvarchar](100) NULL,
	[Simbolo] [nvarchar](10) NULL,
 CONSTRAINT [PK_Moneda] PRIMARY KEY CLUSTERED 
(
	[Moneda_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Moneda_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_Moneda]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_Moneda] AS SELECT * FROM [ref].[Moneda];
GO
/****** Object:  Table [ref].[UbicacionGeo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[UbicacionGeo](
	[UbicacionGeo_ID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRegion] [char](5) NOT NULL,
	[Nivel] [tinyint] NOT NULL,
	[Valor] [nvarchar](100) NOT NULL,
	[UbicacionGeo_ID_Padre] [int] NULL,
 CONSTRAINT [PK_UbicacionGeo] PRIMARY KEY CLUSTERED 
(
	[UbicacionGeo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UbicacionGeo_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_UbicacionGeo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_UbicacionGeo] AS SELECT * FROM [ref].[UbicacionGeo];
GO
/****** Object:  View [ref].[vw_MetaEstado]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_MetaEstado] AS SELECT * FROM [ref].[MetaEstado];
GO
/****** Object:  Table [ref].[TipoMecanismoContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[TipoMecanismoContacto](
	[TipoMecanismoContacto_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TipoMecanismoContacto] PRIMARY KEY CLUSTERED 
(
	[TipoMecanismoContacto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoMecanismoContacto_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_TipoMecanismoContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_TipoMecanismoContacto] AS SELECT * FROM [ref].[TipoMecanismoContacto];
GO
/****** Object:  Table [ref].[TipoDireccion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[TipoDireccion](
	[TipoDireccion_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TipoDireccion] PRIMARY KEY CLUSTERED 
(
	[TipoDireccion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoDireccion_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_TipoDireccion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_TipoDireccion] AS SELECT * FROM [ref].[TipoDireccion];
GO
/****** Object:  Table [ref].[TipoIdentificacion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[TipoIdentificacion](
	[TipoIdentificacion_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TipoIdentificacion] PRIMARY KEY CLUSTERED 
(
	[TipoIdentificacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoIdentificacion_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_TipoIdentificacion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_TipoIdentificacion] AS SELECT * FROM [ref].[TipoIdentificacion];
GO
/****** Object:  Table [ref].[MarcaTarjeta]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[MarcaTarjeta](
	[MarcaTarjeta_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MarcaTarjeta] PRIMARY KEY CLUSTERED 
(
	[MarcaTarjeta_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MarcaTarjeta_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_MarcaTarjeta]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_MarcaTarjeta] AS SELECT * FROM [ref].[MarcaTarjeta];
GO
/****** Object:  Table [ref].[Banco]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[Banco](
	[Banco_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Pais_ID] [smallint] NOT NULL,
 CONSTRAINT [PK_Banco] PRIMARY KEY CLUSTERED 
(
	[Banco_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Banco_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_Banco]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_Banco] AS SELECT * FROM [ref].[Banco];
GO
/****** Object:  View [ref].[vw_Puesto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_Puesto] AS SELECT * FROM [ref].[Puesto];
GO
/****** Object:  Table [ref].[TipoCambio]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[TipoCambio](
	[TipoCambio_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Moneda_ID] [smallint] NOT NULL,
	[TipoCambioCompra] [decimal](12, 4) NOT NULL,
	[TipoCambioVenta] [decimal](12, 4) NOT NULL,
	[FuenteConsulta] [nvarchar](200) NOT NULL,
	[FechaHoraConsulta] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TipoCambio] PRIMARY KEY CLUSTERED 
(
	[TipoCambio_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoCambio_Fecha_Moneda] UNIQUE NONCLUSTERED 
(
	[Fecha] ASC,
	[Moneda_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ref].[vw_TipoCambio]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_TipoCambio] AS SELECT * FROM [ref].[TipoCambio];
GO
/****** Object:  View [ref].[vw_Sucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ref].[vw_Sucursal] AS SELECT * FROM [ref].[Sucursal];
GO
/****** Object:  Table [vehiculo].[Marca]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[Marca](
	[Marca_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Pais_ID] [smallint] NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[Marca_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Marca_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [vehiculo].[vw_Marca]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_Marca] AS SELECT * FROM [vehiculo].[Marca];
GO
/****** Object:  Table [vehiculo].[ModeloVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[ModeloVehiculo](
	[ModeloVehiculo_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Marca_ID] [smallint] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ModeloVehiculo] PRIMARY KEY CLUSTERED 
(
	[ModeloVehiculo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [vehiculo].[vw_ModeloVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_ModeloVehiculo] AS SELECT * FROM [vehiculo].[ModeloVehiculo];
GO
/****** Object:  Table [vehiculo].[CategoriaVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[CategoriaVehiculo](
	[CategoriaVehiculo_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[TarifaDiariaBase] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_CategoriaVehiculo] PRIMARY KEY CLUSTERED 
(
	[CategoriaVehiculo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CategoriaVehiculo_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [vehiculo].[vw_CategoriaVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_CategoriaVehiculo] AS SELECT * FROM [vehiculo].[CategoriaVehiculo];
GO
/****** Object:  View [vehiculo].[vw_Vehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_Vehiculo]
AS
    SELECT
        v.Vehiculo_ID, v.Placa, v.VIN,
        m.Nombre       AS Marca,
        mv.Nombre      AS Modelo,
        cv.Descripcion AS Categoria,
        v.Anio, v.Color, v.NumeroPuertas, v.Capacidad,
        v.Transmision, v.TipoCombustible, v.Kilometraje,
        v.Descripcion, v.FechaIngresoFlota,
        s.Nombre       AS Sucursal,
        me.Descripcion AS EstadoVehiculo,
        v.NumeroPóliza, v.Aseguradora, v.FechaVencimientoSeguro
    FROM [vehiculo].[Vehiculo] v
    JOIN [vehiculo].[ModeloVehiculo] mv ON v.ModeloVehiculo_ID = mv.ModeloVehiculo_ID
    JOIN [vehiculo].[Marca] m ON mv.Marca_ID = m.Marca_ID
    JOIN [vehiculo].[CategoriaVehiculo] cv ON v.CategoriaVehiculo_ID = cv.CategoriaVehiculo_ID
    JOIN [ref].[Sucursal] s ON v.Sucursal_ID = s.Sucursal_ID
    JOIN [ref].[MetaEstado] me ON v.MetaEstado_ID = me.MetaEstado_ID;
GO
/****** Object:  Table [vehiculo].[DocumentoSeguro]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[DocumentoSeguro](
	[DocumentoSeguro_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehiculo_ID] [int] NOT NULL,
	[NumeroPóliza] [nvarchar](50) NOT NULL,
	[Aseguradora] [nvarchar](100) NOT NULL,
	[FechaInicioCobertura] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[PDF] [varbinary](max) NOT NULL,
	[FechaCarga] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DocumentoSeguro] PRIMARY KEY CLUSTERED 
(
	[DocumentoSeguro_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [vehiculo].[vw_DocumentoSeguro]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_DocumentoSeguro] AS SELECT Vehiculo_ID, NumeroPóliza, Aseguradora, FechaInicioCobertura, FechaVencimiento, FechaCarga FROM [vehiculo].[DocumentoSeguro];
GO
/****** Object:  Table [vehiculo].[ImagenVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[ImagenVehiculo](
	[Imagen_ID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Vehiculo_ID] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Url] [nvarchar](500) NULL,
	[Imagen] [varbinary](max) FILESTREAM  NULL,
	[FechaCarga] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ImagenVehiculo] PRIMARY KEY CLUSTERED 
(
	[Imagen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY] FILESTREAM_ON [RentaCR_FS]
) ON [PRIMARY] FILESTREAM_ON [RentaCR_FS]
GO
/****** Object:  View [vehiculo].[vw_ImagenVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_ImagenVehiculo] AS SELECT Imagen_ID, Vehiculo_ID, Descripcion, Url, FechaCarga FROM [vehiculo].[ImagenVehiculo];
GO
/****** Object:  Table [vehiculo].[Tarifa]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[Tarifa](
	[Tarifa_ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaVehiculo_ID] [smallint] NOT NULL,
	[Sucursal_ID] [int] NULL,
	[TarifaDiariaCRC] [decimal](12, 2) NOT NULL,
	[TarifaDiariaUSD] [decimal](12, 4) NOT NULL,
	[Temporada] [nvarchar](20) NOT NULL,
	[FechaInicioVigencia] [date] NOT NULL,
	[FechaFinVigencia] [date] NULL,
 CONSTRAINT [PK_Tarifa] PRIMARY KEY CLUSTERED 
(
	[Tarifa_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [vehiculo].[vw_Tarifa]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_Tarifa] AS SELECT * FROM [vehiculo].[Tarifa];
GO
/****** Object:  Table [vehiculo].[DisponibilidadVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vehiculo].[DisponibilidadVehiculo]
(
	[Disponibilidad_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehiculo_ID] [int] NOT NULL,
	[Sucursal_ID] [int] NOT NULL,
	[EstadoDisponibilidad] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[FechaHoraEstado] [datetime2](7) NOT NULL,
	[Contrato_ID] [int] NULL,

 CONSTRAINT [PK_DisponibilidadVehiculo]  PRIMARY KEY NONCLUSTERED 
(
	[Disponibilidad_ID] ASC
)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_AND_DATA )
GO
/****** Object:  View [vehiculo].[vw_DisponibilidadVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [vehiculo].[vw_DisponibilidadVehiculo] AS SELECT * FROM [vehiculo].[DisponibilidadVehiculo];
GO
/****** Object:  Table [alquiler].[Contrato]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alquiler].[Contrato](
	[Contrato_ID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroContrato] [nvarchar](20) NOT NULL,
	[Cliente_ID] [int] NOT NULL,
	[Vehiculo_ID] [int] NOT NULL,
	[Sucursal_ID] [int] NOT NULL,
	[Empleado_ID] [int] NOT NULL,
	[Tarifa_ID] [int] NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFinPactada] [datetime2](7) NOT NULL,
	[TarifaAplicada] [decimal](12, 2) NOT NULL,
	[DiasPactados] [smallint] NOT NULL,
	[MontoTotal] [decimal](14, 2) NOT NULL,
	[DepositoGarantia] [decimal](14, 2) NULL,
	[KmEntrega] [int] NOT NULL,
	[CombustibleEntrega] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[MetaEstado_ID] [int] NOT NULL,
	[TipoCambio_ID] [int] NULL,
	[MontoTotalUSD] [decimal](14, 4) NULL,
 CONSTRAINT [PK_Contrato] PRIMARY KEY CLUSTERED 
(
	[Contrato_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Contrato_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [alquiler].[vw_Contrato]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [alquiler].[vw_Contrato]
AS
    SELECT
        c.Contrato_ID, c.NumeroContrato, cl.Cliente_ID,
        p.PrimerNombre + ' ' + ISNULL(p.SegundoNombre+' ','') + p.PrimerApellido AS NombreCliente,
        v.Placa, mv.Nombre AS ModeloVehiculo,
        s.Nombre AS Sucursal, e.CodigoEmpleado AS Agente,
        c.FechaInicio, c.FechaFinPactada, c.TarifaAplicada,
        c.DiasPactados, c.MontoTotal, c.MontoTotalUSD,
        c.DepositoGarantia, c.KmEntrega, c.CombustibleEntrega,
        c.Observaciones, me.Descripcion AS EstadoContrato
    FROM [alquiler].[Contrato] c
    JOIN [persona].[Cliente] cl ON c.Cliente_ID = cl.Cliente_ID
    JOIN [persona].[Persona] p ON cl.Persona_ID = p.Persona_ID
    JOIN [vehiculo].[Vehiculo] v ON c.Vehiculo_ID = v.Vehiculo_ID
    JOIN [vehiculo].[ModeloVehiculo] mv ON v.ModeloVehiculo_ID = mv.ModeloVehiculo_ID
    JOIN [ref].[Sucursal] s ON c.Sucursal_ID = s.Sucursal_ID
    JOIN [persona].[Empleado] e ON c.Empleado_ID = e.Empleado_ID
    JOIN [ref].[MetaEstado] me ON c.MetaEstado_ID = me.MetaEstado_ID;
GO
/****** Object:  Table [alquiler].[Devolucion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alquiler].[Devolucion](
	[Devolucion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Contrato_ID] [int] NOT NULL,
	[FechaDevolucionReal] [datetime2](7) NOT NULL,
	[Sucursal_ID] [int] NOT NULL,
	[Empleado_ID] [int] NOT NULL,
	[KmDevolucion] [int] NOT NULL,
	[CombustibleDevolucion] [nvarchar](20) NOT NULL,
	[EstadoVehiculo] [nvarchar](30) NOT NULL,
	[DescripcionDanios] [nvarchar](500) NULL,
 CONSTRAINT [PK_Devolucion] PRIMARY KEY CLUSTERED 
(
	[Devolucion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Devolucion_Contrato] UNIQUE NONCLUSTERED 
(
	[Contrato_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [alquiler].[vw_Devolucion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [alquiler].[vw_Devolucion] AS SELECT * FROM [alquiler].[Devolucion];
GO
/****** Object:  Table [alquiler].[FormaPago]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alquiler].[FormaPago](
	[FormaPago_ID] [int] IDENTITY(1,1) NOT NULL,
	[Contrato_ID] [int] NOT NULL,
	[Empleado_ID] [int] NOT NULL,
	[TipoPago] [nvarchar](30) NOT NULL,
	[MontoPago] [decimal](14, 2) NOT NULL,
	[Moneda_ID] [smallint] NOT NULL,
	[FechaPago] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FormaPago] PRIMARY KEY CLUSTERED 
(
	[FormaPago_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [alquiler].[vw_FormaPago]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [alquiler].[vw_FormaPago] AS SELECT * FROM [alquiler].[FormaPago];
GO
/****** Object:  Table [alquiler].[PagoTarjeta]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alquiler].[PagoTarjeta](
	[PagoTarjeta_ID] [int] IDENTITY(1,1) NOT NULL,
	[FormaPago_ID] [int] NOT NULL,
	[MarcaTarjeta_ID] [smallint] NOT NULL,
	[BIN] [char](6) NOT NULL,
	[CodigoAutorizacion] [nvarchar](20) NOT NULL,
	[Emisor] [nvarchar](100) NULL,
 CONSTRAINT [PK_PagoTarjeta] PRIMARY KEY CLUSTERED 
(
	[PagoTarjeta_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PagoTarjeta_FormaPago] UNIQUE NONCLUSTERED 
(
	[FormaPago_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [alquiler].[vw_PagoTarjeta]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [alquiler].[vw_PagoTarjeta] AS SELECT * FROM [alquiler].[PagoTarjeta];
GO
/****** Object:  Table [alquiler].[PagoTransferencia]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [alquiler].[PagoTransferencia](
	[PagoTransferencia_ID] [int] IDENTITY(1,1) NOT NULL,
	[FormaPago_ID] [int] NOT NULL,
	[Banco_ID] [smallint] NOT NULL,
	[NumeroCuenta] [nvarchar](50) NOT NULL,
	[NumeroComprobante] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PagoTransferencia] PRIMARY KEY CLUSTERED 
(
	[PagoTransferencia_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PagoTransferencia_FormaPago] UNIQUE NONCLUSTERED 
(
	[FormaPago_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [alquiler].[vw_PagoTransferencia]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [alquiler].[vw_PagoTransferencia] AS SELECT * FROM [alquiler].[PagoTransferencia];
GO
/****** Object:  UserDefinedFunction [alquiler].[fn_RLS_Sucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recrear función normal
CREATE FUNCTION [alquiler].[fn_RLS_Sucursal](@Sucursal_ID INT)
RETURNS TABLE
WITH SCHEMABINDING
AS
RETURN
(
    SELECT 1 AS fn_result
    WHERE
        IS_ROLEMEMBER('db_Administrativo') = 1
        OR
        @Sucursal_ID = (
            SELECT e.Sucursal_ID
            FROM [persona].[Empleado] e
            JOIN [persona].[Persona] p ON e.Persona_ID = p.Persona_ID
            WHERE p.PrimerNombre = USER_NAME()
        )
);
GO
/****** Object:  UserDefinedFunction [alquiler].[fn_RLS_Sucursal_InMemory]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recrear función nativa para in-memory
CREATE FUNCTION [alquiler].[fn_RLS_Sucursal_InMemory](@Sucursal_ID INT)
RETURNS TABLE
WITH SCHEMABINDING, NATIVE_COMPILATION
AS
RETURN
(
    SELECT 1 AS fn_result
    WHERE IS_ROLEMEMBER('db_Administrativo') = 1
);
GO
/****** Object:  SecurityPolicy [alquiler].[PolicyContratoSucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE SECURITY POLICY [alquiler].[PolicyContratoSucursal] 
ADD FILTER PREDICATE [alquiler].[fn_RLS_Sucursal]([Sucursal_ID]) ON [alquiler].[Contrato]
WITH (STATE = ON, SCHEMABINDING = ON)
GO
/****** Object:  SecurityPolicy [vehiculo].[PolicyDisponibilidadSucursal]    Script Date: 7/1/2026 4:48:15 PM ******/
CREATE SECURITY POLICY [vehiculo].[PolicyDisponibilidadSucursal] 
ADD FILTER PREDICATE [alquiler].[fn_RLS_Sucursal_InMemory]([Sucursal_ID]) ON [vehiculo].[DisponibilidadVehiculo]
WITH (STATE = ON, SCHEMABINDING = ON)
GO
ALTER TABLE [alquiler].[FormaPago] ADD  DEFAULT (sysutcdatetime()) FOR [FechaPago]
GO
ALTER TABLE [persona].[AtributoCliente] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [persona].[Cliente] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [FechaIngresoSistema]
GO
ALTER TABLE [persona].[ClienteClasificacion] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [FechaAsignacion]
GO
ALTER TABLE [persona].[Direccion] ADD  DEFAULT ((1)) FOR [Prioridad]
GO
ALTER TABLE [persona].[Direccion] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [FechaInicio]
GO
ALTER TABLE [persona].[HistoricoEstadoCliente] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [persona].[HistoricoEstadoContacto] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [persona].[HistoricoEstadoDireccion] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [persona].[HistoricoEstadoEmpleado] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [persona].[Identificador] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [persona].[MecanismoContacto] ADD  DEFAULT ((1)) FOR [Prioridad]
GO
ALTER TABLE [persona].[MecanismoContacto] ADD  DEFAULT ((1)) FOR [SolicitadoPorCliente]
GO
ALTER TABLE [persona].[MecanismoContacto] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [FechaInicio]
GO
ALTER TABLE [ref].[MetaEstado] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [ref].[TipoCambio] ADD  DEFAULT ('BCCR-WS') FOR [FuenteConsulta]
GO
ALTER TABLE [ref].[TipoCambio] ADD  DEFAULT (sysutcdatetime()) FOR [FechaHoraConsulta]
GO
ALTER TABLE [vehiculo].[DisponibilidadVehiculo] ADD  DEFAULT (sysutcdatetime()) FOR [FechaHoraEstado]
GO
ALTER TABLE [vehiculo].[DocumentoSeguro] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCarga]
GO
ALTER TABLE [vehiculo].[ImagenVehiculo] ADD  DEFAULT (newsequentialid()) FOR [Imagen_ID]
GO
ALTER TABLE [vehiculo].[ImagenVehiculo] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCarga]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Cliente] FOREIGN KEY([Cliente_ID])
REFERENCES [persona].[Cliente] ([Cliente_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_Cliente]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Empleado] FOREIGN KEY([Empleado_ID])
REFERENCES [persona].[Empleado] ([Empleado_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_Empleado]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_MetaEstado]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Sucursal] FOREIGN KEY([Sucursal_ID])
REFERENCES [ref].[Sucursal] ([Sucursal_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_Sucursal]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Tarifa] FOREIGN KEY([Tarifa_ID])
REFERENCES [vehiculo].[Tarifa] ([Tarifa_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_Tarifa]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_TipoCambio] FOREIGN KEY([TipoCambio_ID])
REFERENCES [ref].[TipoCambio] ([TipoCambio_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_TipoCambio]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Vehiculo] FOREIGN KEY([Vehiculo_ID])
REFERENCES [vehiculo].[Vehiculo] ([Vehiculo_ID])
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [FK_Contrato_Vehiculo]
GO
ALTER TABLE [alquiler].[Devolucion]  WITH CHECK ADD  CONSTRAINT [FK_Devolucion_Contrato] FOREIGN KEY([Contrato_ID])
REFERENCES [alquiler].[Contrato] ([Contrato_ID])
GO
ALTER TABLE [alquiler].[Devolucion] CHECK CONSTRAINT [FK_Devolucion_Contrato]
GO
ALTER TABLE [alquiler].[Devolucion]  WITH CHECK ADD  CONSTRAINT [FK_Devolucion_Empleado] FOREIGN KEY([Empleado_ID])
REFERENCES [persona].[Empleado] ([Empleado_ID])
GO
ALTER TABLE [alquiler].[Devolucion] CHECK CONSTRAINT [FK_Devolucion_Empleado]
GO
ALTER TABLE [alquiler].[Devolucion]  WITH CHECK ADD  CONSTRAINT [FK_Devolucion_Sucursal] FOREIGN KEY([Sucursal_ID])
REFERENCES [ref].[Sucursal] ([Sucursal_ID])
GO
ALTER TABLE [alquiler].[Devolucion] CHECK CONSTRAINT [FK_Devolucion_Sucursal]
GO
ALTER TABLE [alquiler].[FormaPago]  WITH CHECK ADD  CONSTRAINT [FK_FormaPago_Contrato] FOREIGN KEY([Contrato_ID])
REFERENCES [alquiler].[Contrato] ([Contrato_ID])
GO
ALTER TABLE [alquiler].[FormaPago] CHECK CONSTRAINT [FK_FormaPago_Contrato]
GO
ALTER TABLE [alquiler].[FormaPago]  WITH CHECK ADD  CONSTRAINT [FK_FormaPago_Empleado] FOREIGN KEY([Empleado_ID])
REFERENCES [persona].[Empleado] ([Empleado_ID])
GO
ALTER TABLE [alquiler].[FormaPago] CHECK CONSTRAINT [FK_FormaPago_Empleado]
GO
ALTER TABLE [alquiler].[FormaPago]  WITH CHECK ADD  CONSTRAINT [FK_FormaPago_Moneda] FOREIGN KEY([Moneda_ID])
REFERENCES [ref].[Moneda] ([Moneda_ID])
GO
ALTER TABLE [alquiler].[FormaPago] CHECK CONSTRAINT [FK_FormaPago_Moneda]
GO
ALTER TABLE [alquiler].[PagoTarjeta]  WITH CHECK ADD  CONSTRAINT [FK_PagoTarjeta_FormaPago] FOREIGN KEY([FormaPago_ID])
REFERENCES [alquiler].[FormaPago] ([FormaPago_ID])
GO
ALTER TABLE [alquiler].[PagoTarjeta] CHECK CONSTRAINT [FK_PagoTarjeta_FormaPago]
GO
ALTER TABLE [alquiler].[PagoTarjeta]  WITH CHECK ADD  CONSTRAINT [FK_PagoTarjeta_MarcaTarjeta] FOREIGN KEY([MarcaTarjeta_ID])
REFERENCES [ref].[MarcaTarjeta] ([MarcaTarjeta_ID])
GO
ALTER TABLE [alquiler].[PagoTarjeta] CHECK CONSTRAINT [FK_PagoTarjeta_MarcaTarjeta]
GO
ALTER TABLE [alquiler].[PagoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_PagoTransferencia_Banco] FOREIGN KEY([Banco_ID])
REFERENCES [ref].[Banco] ([Banco_ID])
GO
ALTER TABLE [alquiler].[PagoTransferencia] CHECK CONSTRAINT [FK_PagoTransferencia_Banco]
GO
ALTER TABLE [alquiler].[PagoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_PagoTransferencia_FormaPago] FOREIGN KEY([FormaPago_ID])
REFERENCES [alquiler].[FormaPago] ([FormaPago_ID])
GO
ALTER TABLE [alquiler].[PagoTransferencia] CHECK CONSTRAINT [FK_PagoTransferencia_FormaPago]
GO
ALTER TABLE [persona].[AtributoCliente]  WITH CHECK ADD  CONSTRAINT [FK_AtributoCliente_Cliente] FOREIGN KEY([Cliente_ID])
REFERENCES [persona].[Cliente] ([Cliente_ID])
GO
ALTER TABLE [persona].[AtributoCliente] CHECK CONSTRAINT [FK_AtributoCliente_Cliente]
GO
ALTER TABLE [persona].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[Cliente] CHECK CONSTRAINT [FK_Cliente_MetaEstado]
GO
ALTER TABLE [persona].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[Cliente] CHECK CONSTRAINT [FK_Cliente_Persona]
GO
ALTER TABLE [persona].[ClienteClasificacion]  WITH CHECK ADD  CONSTRAINT [FK_ClienteClasificacion_Clasificacion] FOREIGN KEY([ClasificacionCliente_ID])
REFERENCES [persona].[ClasificacionCliente] ([ClasificacionCliente_ID])
GO
ALTER TABLE [persona].[ClienteClasificacion] CHECK CONSTRAINT [FK_ClienteClasificacion_Clasificacion]
GO
ALTER TABLE [persona].[ClienteClasificacion]  WITH CHECK ADD  CONSTRAINT [FK_ClienteClasificacion_Cliente] FOREIGN KEY([Cliente_ID])
REFERENCES [persona].[Cliente] ([Cliente_ID])
GO
ALTER TABLE [persona].[ClienteClasificacion] CHECK CONSTRAINT [FK_ClienteClasificacion_Cliente]
GO
ALTER TABLE [persona].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[Direccion] CHECK CONSTRAINT [FK_Direccion_MetaEstado]
GO
ALTER TABLE [persona].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[Direccion] CHECK CONSTRAINT [FK_Direccion_Persona]
GO
ALTER TABLE [persona].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_TipoDireccion] FOREIGN KEY([TipoDireccion_ID])
REFERENCES [ref].[TipoDireccion] ([TipoDireccion_ID])
GO
ALTER TABLE [persona].[Direccion] CHECK CONSTRAINT [FK_Direccion_TipoDireccion]
GO
ALTER TABLE [persona].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_UbicacionGeo] FOREIGN KEY([UbicacionGeo_ID])
REFERENCES [ref].[UbicacionGeo] ([UbicacionGeo_ID])
GO
ALTER TABLE [persona].[Direccion] CHECK CONSTRAINT [FK_Direccion_UbicacionGeo]
GO
ALTER TABLE [persona].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[Empleado] CHECK CONSTRAINT [FK_Empleado_MetaEstado]
GO
ALTER TABLE [persona].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[Empleado] CHECK CONSTRAINT [FK_Empleado_Persona]
GO
ALTER TABLE [persona].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Puesto] FOREIGN KEY([Puesto_ID])
REFERENCES [ref].[Puesto] ([Puesto_ID])
GO
ALTER TABLE [persona].[Empleado] CHECK CONSTRAINT [FK_Empleado_Puesto]
GO
ALTER TABLE [persona].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Sucursal] FOREIGN KEY([Sucursal_ID])
REFERENCES [ref].[Sucursal] ([Sucursal_ID])
GO
ALTER TABLE [persona].[Empleado] CHECK CONSTRAINT [FK_Empleado_Sucursal]
GO
ALTER TABLE [persona].[HistoricoAsignacionSucursal]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoAsignacion_Empleado] FOREIGN KEY([Empleado_ID])
REFERENCES [persona].[Empleado] ([Empleado_ID])
GO
ALTER TABLE [persona].[HistoricoAsignacionSucursal] CHECK CONSTRAINT [FK_HistoricoAsignacion_Empleado]
GO
ALTER TABLE [persona].[HistoricoAsignacionSucursal]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoAsignacion_Sucursal] FOREIGN KEY([Sucursal_ID])
REFERENCES [ref].[Sucursal] ([Sucursal_ID])
GO
ALTER TABLE [persona].[HistoricoAsignacionSucursal] CHECK CONSTRAINT [FK_HistoricoAsignacion_Sucursal]
GO
ALTER TABLE [persona].[HistoricoEstadoCliente]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoCliente_Cliente] FOREIGN KEY([Cliente_ID])
REFERENCES [persona].[Cliente] ([Cliente_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoCliente] CHECK CONSTRAINT [FK_HistoricoEstadoCliente_Cliente]
GO
ALTER TABLE [persona].[HistoricoEstadoCliente]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoCliente_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoCliente] CHECK CONSTRAINT [FK_HistoricoEstadoCliente_MetaEstado]
GO
ALTER TABLE [persona].[HistoricoEstadoContacto]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoContacto_Contacto] FOREIGN KEY([MecanismoContacto_ID])
REFERENCES [persona].[MecanismoContacto] ([MecanismoContacto_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoContacto] CHECK CONSTRAINT [FK_HistoricoEstadoContacto_Contacto]
GO
ALTER TABLE [persona].[HistoricoEstadoContacto]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoContacto_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoContacto] CHECK CONSTRAINT [FK_HistoricoEstadoContacto_MetaEstado]
GO
ALTER TABLE [persona].[HistoricoEstadoDireccion]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoDireccion_Direccion] FOREIGN KEY([Direccion_ID])
REFERENCES [persona].[Direccion] ([Direccion_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoDireccion] CHECK CONSTRAINT [FK_HistoricoEstadoDireccion_Direccion]
GO
ALTER TABLE [persona].[HistoricoEstadoDireccion]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoDireccion_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoDireccion] CHECK CONSTRAINT [FK_HistoricoEstadoDireccion_MetaEstado]
GO
ALTER TABLE [persona].[HistoricoEstadoEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoEmpleado_Empleado] FOREIGN KEY([Empleado_ID])
REFERENCES [persona].[Empleado] ([Empleado_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoEmpleado] CHECK CONSTRAINT [FK_HistoricoEstadoEmpleado_Empleado]
GO
ALTER TABLE [persona].[HistoricoEstadoEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoEstadoEmpleado_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[HistoricoEstadoEmpleado] CHECK CONSTRAINT [FK_HistoricoEstadoEmpleado_MetaEstado]
GO
ALTER TABLE [persona].[Identificador]  WITH CHECK ADD  CONSTRAINT [FK_Identificador_Pais] FOREIGN KEY([Pais_ID])
REFERENCES [ref].[Pais] ([Pais_ID])
GO
ALTER TABLE [persona].[Identificador] CHECK CONSTRAINT [FK_Identificador_Pais]
GO
ALTER TABLE [persona].[Identificador]  WITH CHECK ADD  CONSTRAINT [FK_Identificador_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[Identificador] CHECK CONSTRAINT [FK_Identificador_Persona]
GO
ALTER TABLE [persona].[Identificador]  WITH CHECK ADD  CONSTRAINT [FK_Identificador_TipoIdentificacion] FOREIGN KEY([TipoIdentificacion_ID])
REFERENCES [ref].[TipoIdentificacion] ([TipoIdentificacion_ID])
GO
ALTER TABLE [persona].[Identificador] CHECK CONSTRAINT [FK_Identificador_TipoIdentificacion]
GO
ALTER TABLE [persona].[MecanismoContacto]  WITH CHECK ADD  CONSTRAINT [FK_MecanismoContacto_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [persona].[MecanismoContacto] CHECK CONSTRAINT [FK_MecanismoContacto_MetaEstado]
GO
ALTER TABLE [persona].[MecanismoContacto]  WITH CHECK ADD  CONSTRAINT [FK_MecanismoContacto_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[MecanismoContacto] CHECK CONSTRAINT [FK_MecanismoContacto_Persona]
GO
ALTER TABLE [persona].[MecanismoContacto]  WITH CHECK ADD  CONSTRAINT [FK_MecanismoContacto_Tipo] FOREIGN KEY([TipoMecanismoContacto_ID])
REFERENCES [ref].[TipoMecanismoContacto] ([TipoMecanismoContacto_ID])
GO
ALTER TABLE [persona].[MecanismoContacto] CHECK CONSTRAINT [FK_MecanismoContacto_Tipo]
GO
ALTER TABLE [persona].[PersonaFisica]  WITH CHECK ADD  CONSTRAINT [FK_PersonaFisica_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[PersonaFisica] CHECK CONSTRAINT [FK_PersonaFisica_Persona]
GO
ALTER TABLE [persona].[PersonaJuridica]  WITH CHECK ADD  CONSTRAINT [FK_PersonaJuridica_Persona] FOREIGN KEY([Persona_ID])
REFERENCES [persona].[Persona] ([Persona_ID])
GO
ALTER TABLE [persona].[PersonaJuridica] CHECK CONSTRAINT [FK_PersonaJuridica_Persona]
GO
ALTER TABLE [ref].[Banco]  WITH CHECK ADD  CONSTRAINT [FK_Banco_Pais] FOREIGN KEY([Pais_ID])
REFERENCES [ref].[Pais] ([Pais_ID])
GO
ALTER TABLE [ref].[Banco] CHECK CONSTRAINT [FK_Banco_Pais]
GO
ALTER TABLE [ref].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_MetaEstado] FOREIGN KEY([MetaEstado_ID])
REFERENCES [ref].[MetaEstado] ([MetaEstado_ID])
GO
ALTER TABLE [ref].[Sucursal] CHECK CONSTRAINT [FK_Sucursal_MetaEstado]
GO
ALTER TABLE [ref].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_UbicacionGeo] FOREIGN KEY([UbicacionGeo_ID])
REFERENCES [ref].[UbicacionGeo] ([UbicacionGeo_ID])
GO
ALTER TABLE [ref].[Sucursal] CHECK CONSTRAINT [FK_Sucursal_UbicacionGeo]
GO
ALTER TABLE [ref].[TipoCambio]  WITH CHECK ADD  CONSTRAINT [FK_TipoCambio_Moneda] FOREIGN KEY([Moneda_ID])
REFERENCES [ref].[Moneda] ([Moneda_ID])
GO
ALTER TABLE [ref].[TipoCambio] CHECK CONSTRAINT [FK_TipoCambio_Moneda]
GO
ALTER TABLE [ref].[UbicacionGeo]  WITH CHECK ADD  CONSTRAINT [FK_UbicacionGeo_Padre] FOREIGN KEY([UbicacionGeo_ID_Padre])
REFERENCES [ref].[UbicacionGeo] ([UbicacionGeo_ID])
GO
ALTER TABLE [ref].[UbicacionGeo] CHECK CONSTRAINT [FK_UbicacionGeo_Padre]
GO
ALTER TABLE [vehiculo].[DocumentoSeguro]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoSeguro_Vehiculo] FOREIGN KEY([Vehiculo_ID])
REFERENCES [vehiculo].[Vehiculo] ([Vehiculo_ID])
GO
ALTER TABLE [vehiculo].[DocumentoSeguro] CHECK CONSTRAINT [FK_DocumentoSeguro_Vehiculo]
GO
ALTER TABLE [vehiculo].[ImagenVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_ImagenVehiculo_Vehiculo] FOREIGN KEY([Vehiculo_ID])
REFERENCES [vehiculo].[Vehiculo] ([Vehiculo_ID])
GO
ALTER TABLE [vehiculo].[ImagenVehiculo] CHECK CONSTRAINT [FK_ImagenVehiculo_Vehiculo]
GO
ALTER TABLE [vehiculo].[Marca]  WITH CHECK ADD  CONSTRAINT [FK_Marca_Pais] FOREIGN KEY([Pais_ID])
REFERENCES [ref].[Pais] ([Pais_ID])
GO
ALTER TABLE [vehiculo].[Marca] CHECK CONSTRAINT [FK_Marca_Pais]
GO
ALTER TABLE [vehiculo].[ModeloVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_ModeloVehiculo_Marca] FOREIGN KEY([Marca_ID])
REFERENCES [vehiculo].[Marca] ([Marca_ID])
GO
ALTER TABLE [vehiculo].[ModeloVehiculo] CHECK CONSTRAINT [FK_ModeloVehiculo_Marca]
GO
ALTER TABLE [vehiculo].[Tarifa]  WITH CHECK ADD  CONSTRAINT [FK_Tarifa_Categoria] FOREIGN KEY([CategoriaVehiculo_ID])
REFERENCES [vehiculo].[CategoriaVehiculo] ([CategoriaVehiculo_ID])
GO
ALTER TABLE [vehiculo].[Tarifa] CHECK CONSTRAINT [FK_Tarifa_Categoria]
GO
ALTER TABLE [vehiculo].[Tarifa]  WITH CHECK ADD  CONSTRAINT [FK_Tarifa_Sucursal] FOREIGN KEY([Sucursal_ID])
REFERENCES [ref].[Sucursal] ([Sucursal_ID])
GO
ALTER TABLE [vehiculo].[Tarifa] CHECK CONSTRAINT [FK_Tarifa_Sucursal]
GO
ALTER TABLE [alquiler].[Contrato]  WITH CHECK ADD  CONSTRAINT [CK_Contrato_Combustible] CHECK  (([CombustibleEntrega]='Lleno' OR [CombustibleEntrega]='TresCuartos' OR [CombustibleEntrega]='Mitad' OR [CombustibleEntrega]='Cuarto' OR [CombustibleEntrega]='Vacio'))
GO
ALTER TABLE [alquiler].[Contrato] CHECK CONSTRAINT [CK_Contrato_Combustible]
GO
ALTER TABLE [alquiler].[Devolucion]  WITH CHECK ADD  CONSTRAINT [CK_Devolucion_Combustible] CHECK  (([CombustibleDevolucion]='Lleno' OR [CombustibleDevolucion]='TresCuartos' OR [CombustibleDevolucion]='Mitad' OR [CombustibleDevolucion]='Cuarto' OR [CombustibleDevolucion]='Vacio'))
GO
ALTER TABLE [alquiler].[Devolucion] CHECK CONSTRAINT [CK_Devolucion_Combustible]
GO
ALTER TABLE [alquiler].[Devolucion]  WITH CHECK ADD  CONSTRAINT [CK_Devolucion_EstadoVehiculo] CHECK  (([EstadoVehiculo]='DaniosMayores' OR [EstadoVehiculo]='DaniosLeves' OR [EstadoVehiculo]='SinDanios'))
GO
ALTER TABLE [alquiler].[Devolucion] CHECK CONSTRAINT [CK_Devolucion_EstadoVehiculo]
GO
ALTER TABLE [alquiler].[FormaPago]  WITH CHECK ADD  CONSTRAINT [CK_FormaPago_TipoPago] CHECK  (([TipoPago]='Transferencia' OR [TipoPago]='TarjetaCredito' OR [TipoPago]='TarjetaDebito' OR [TipoPago]='Efectivo'))
GO
ALTER TABLE [alquiler].[FormaPago] CHECK CONSTRAINT [CK_FormaPago_TipoPago]
GO
ALTER TABLE [persona].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_TipoPersona] CHECK  (([TipoPersona]='J' OR [TipoPersona]='F'))
GO
ALTER TABLE [persona].[Persona] CHECK CONSTRAINT [CK_Persona_TipoPersona]
GO
ALTER TABLE [vehiculo].[DisponibilidadVehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Disponibilidad_Estado] CHECK  (([EstadoDisponibilidad]='FueraDeServicio' OR [EstadoDisponibilidad]='Alquilado' OR [EstadoDisponibilidad]='Disponible'))
GO
ALTER TABLE [vehiculo].[DisponibilidadVehiculo] CHECK CONSTRAINT [CK_Disponibilidad_Estado]
GO
ALTER TABLE [vehiculo].[Tarifa]  WITH CHECK ADD  CONSTRAINT [CK_Tarifa_Temporada] CHECK  (([Temporada]='Festiva' OR [Temporada]='Baja' OR [Temporada]='Alta'))
GO
ALTER TABLE [vehiculo].[Tarifa] CHECK CONSTRAINT [CK_Tarifa_Temporada]
GO
/****** Object:  StoredProcedure [alquiler].[sp_ObtenerTipoCambioBCCR]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [alquiler].[sp_ObtenerTipoCambioBCCR]
    @FechaConsulta DATE,
    @TipoCambio_ID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si ya existe el tipo de cambio para esa fecha
    IF EXISTS (
        SELECT 1 FROM [ref].[TipoCambio] tc
        JOIN [ref].[Moneda] m ON tc.Moneda_ID = m.Moneda_ID
        WHERE tc.Fecha = @FechaConsulta AND m.Codigo = 'USD'
    )
    BEGIN
        SELECT @TipoCambio_ID = tc.TipoCambio_ID
        FROM [ref].[TipoCambio] tc
        JOIN [ref].[Moneda] m ON tc.Moneda_ID = m.Moneda_ID
        WHERE tc.Fecha = @FechaConsulta AND m.Codigo = 'USD';
        RETURN;
    END

    DECLARE @url        NVARCHAR(500);
    DECLARE @response   NVARCHAR(MAX);
    DECLARE @compra     DECIMAL(12,4);
    DECLARE @venta      DECIMAL(12,4);
    DECLARE @moneda_id  SMALLINT;

    -- API alternativa: exchangerate-api.com (BCCR bloquea IPs de Azure)
    SET @url = 'https://api.exchangerate-api.com/v4/latest/USD';

    EXEC sp_invoke_external_rest_endpoint
        @url     = @url,
        @method  = 'GET',
        @response = @response OUTPUT;

    -- Obtener Moneda_ID para USD
    SELECT @moneda_id = Moneda_ID FROM [ref].[Moneda] WHERE Codigo = 'USD';

    -- Parsear CRC desde el JSON de respuesta
    SET @compra = CAST(JSON_VALUE(@response, '$.result.rates.CRC') AS DECIMAL(12,4));
    SET @venta  = CAST(@compra * 1.01 AS DECIMAL(12,4)); -- venta = compra + 1%

    INSERT INTO [ref].[TipoCambio] (Fecha, Moneda_ID, TipoCambioCompra, TipoCambioVenta, FuenteConsulta)
    VALUES (@FechaConsulta, @moneda_id, @compra, @venta, 'ExchangeRate-API');

    SET @TipoCambio_ID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [persona].[sp_SerializarClientesJSON]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [persona].[sp_SerializarClientesJSON]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Cliente_ID,
        c.TipoPersona,
        c.PrimerNombre,
        c.SegundoNombre,
        c.PrimerApellido,
        c.SegundoApellido,
        c.RazonSocial,
        c.NombreComercial,
        c.FechaNacimiento,
        c.FechaIngresoSistema,
        c.EstadoCliente,
        -- Contactos activos
        (
            SELECT mc.TipoMecanismoContacto_ID, mc.Valor, mc.Prioridad, mc.CodigoArea
            FROM [persona].[MecanismoContacto] mc
            JOIN [persona].[Persona] p2 ON mc.Persona_ID = p2.Persona_ID
            JOIN [persona].[Cliente] c2 ON p2.Persona_ID = c2.Persona_ID
            JOIN [ref].[MetaEstado] me2 ON mc.MetaEstado_ID = me2.MetaEstado_ID
            WHERE c2.Cliente_ID = c.Cliente_ID AND me2.Codigo = 'ACTIVO'
            FOR JSON PATH
        ) AS Contactos,
        -- Direcciones activas
        (
            SELECT d.TipoDireccion_ID, d.LineaDireccion1, d.LineaDireccion2, d.Prioridad
            FROM [persona].[Direccion] d
            JOIN [persona].[Persona] p3 ON d.Persona_ID = p3.Persona_ID
            JOIN [persona].[Cliente] c3 ON p3.Persona_ID = c3.Persona_ID
            JOIN [ref].[MetaEstado] me3 ON d.MetaEstado_ID = me3.MetaEstado_ID
            WHERE c3.Cliente_ID = c.Cliente_ID AND me3.Codigo = 'ACTIVO'
            FOR JSON PATH
        ) AS Direcciones,
        -- Identificaciones activas
        (
            SELECT i.TipoIdentificacion_ID, i.Numero, i.FechaVencimiento
            FROM [persona].[Identificador] i
            JOIN [persona].[Persona] p4 ON i.Persona_ID = p4.Persona_ID
            JOIN [persona].[Cliente] c4 ON p4.Persona_ID = c4.Persona_ID
            WHERE c4.Cliente_ID = c.Cliente_ID AND i.Activo = 1
            FOR JSON PATH
        ) AS Identificaciones
    FROM [persona].[vw_Cliente] c
    FOR JSON PATH, ROOT('clientes');
END;

GO
/****** Object:  StoredProcedure [persona].[sp_ValidarContacto]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- 2. STORED PROCEDURE — Validar Contacto (correo y teléfono)
-- =============================================================================
CREATE   PROCEDURE [persona].[sp_ValidarContacto]
    @TipoContacto NVARCHAR(30),
    @Valor        NVARCHAR(150),
    @Valido       BIT OUTPUT,
    @Mensaje      NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Valido = 1;
    SET @Mensaje = 'OK';

    -- Validar correo electrónico
    IF @TipoContacto = 'Correo'
    BEGIN
        IF NOT REGEXP_LIKE(@Valor, N'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$')
        BEGIN
            SET @Valido = 0;
            SET @Mensaje = 'Correo electrónico inválido';
            RETURN;
        END
    END

    -- Validar teléfono costarricense: 8 dígitos comenzando con 2-9
    IF @TipoContacto IN ('Celular','TelefonoFijo','WhatsApp')
    BEGIN
        IF NOT REGEXP_LIKE(@Valor, N'^[2-9][0-9]{7}$')
        BEGIN
            SET @Valido = 0;
            SET @Mensaje = 'Número de teléfono inválido. Debe tener 8 dígitos y comenzar con 2-9';
            RETURN;
        END
    END
END;
GO
/****** Object:  StoredProcedure [persona].[sp_ValidarIdentificacion]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- 3. STORED PROCEDURE — Validar Identificación (cédula física)
-- =============================================================================
CREATE   PROCEDURE [persona].[sp_ValidarIdentificacion]
    @TipoIdentificacion NVARCHAR(30),
    @Numero             NVARCHAR(30),
    @Valido             BIT OUTPUT,
    @Mensaje            NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Valido = 1;
    SET @Mensaje = 'OK';

    -- Validar cédula física costarricense: 1-0000-0000
    IF @TipoIdentificacion = 'CedulaFisica'
    BEGIN
        IF NOT REGEXP_LIKE(@Numero, N'^[1-9]-[0-9]{4}-[0-9]{4}$')
        BEGIN
            SET @Valido = 0;
            SET @Mensaje = 'Cédula física inválida. Formato esperado: 1-0000-0000';
            RETURN;
        END
    END
END;
GO
/****** Object:  StoredProcedure [vehiculo].[sp_ValidarVehiculo]    Script Date: 7/1/2026 4:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- 1. STORED PROCEDURE — Validar Vehículo (Placa y VIN)
-- =============================================================================
CREATE   PROCEDURE [vehiculo].[sp_ValidarVehiculo]
    @Placa   NVARCHAR(10),
    @VIN     NCHAR(17),
    @Valido  BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Valido = 1;
    SET @Mensaje = 'OK';

    -- Validar Placa: formato MOPT ^[A-Z]{3}-[0-9]{3,4}$
    IF NOT REGEXP_LIKE(@Placa, N'^[A-Z]{3}-[0-9]{3,4}$')
    BEGIN
        SET @Valido = 0;
        SET @Mensaje = 'Placa inválida. Formato esperado: ABC-123 o ABC-1234';
        RETURN;
    END

    -- Validar VIN: 17 chars alfanuméricos sin I, O, Q
    IF NOT REGEXP_LIKE(@VIN, N'^[A-HJ-NPR-Z0-9]{17}$')
    BEGIN
        SET @Valido = 0;
        SET @Mensaje = 'VIN inválido. Debe tener 17 caracteres alfanuméricos (sin I, O, Q)';
        RETURN;
    END
END;
GO
